@model UserFormViewModel

<form asp-controller="Users"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-comblete="onModalComblete">
    @if (string.IsNullOrEmpty(Model.Id))
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="form-floating mb-7">
        <input type="password" class="form-control form-control-solid" placeholder="Password" asp-for="Password" />
        <label asp-for="Password"></label>

        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-7">
        <input type="password" class="form-control form-control-solid" placeholder="Confirm Password" asp-for="ConfirmPassword" />
        <label asp-for="ConfirmPassword"></label>

        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <partial name="_ModalFooter" />
</form>