@model Gas

<form asp-action="@(Model?.Read > 0 ? "Edit" : "Create")"
        data-ajax-method="post"
        data-ajax="true"
        data-ajax-begin="onModalBegin"
        data-ajax-success="onModalSuccess"
        data-ajax-failure="showErrorMessage"
        data-ajax-complete="onModalComplete">
    @if (!string.IsNullOrEmpty(Model?.Location))
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="form-floating mb-7">
        <input type="number" class="form-control" placeholder="Sensor Value" asp-for="Read" />
        <label asp-for="Read" required></label>

        <span asp-validation-for="Read" class="text-danger"></span>
    </div>
    <div class="form-floating mb-7">
        <input type="text" class="form-control" placeholder="Location" asp-for="Location" />
        <label asp-for="Location"></label>

        <span asp-validation-for="Location" class="text-danger" required></span>
    </div>


    <partial name="_ModalFooter" />
</form>